{% extends 'base.html'%}

{% block title%}HOME{% endblock title%}
{%block homeactive %}active{% endblock homeactive%}

{% block body%}
<div class="container my-4">
<div class="jumbotron">
    <h1 class="display-4">WELCOME TO MegaMOvies!</h1>
    <p class="lead">Every Day Fresh Movies</p>
    <hr class="my-4">
    <p>Direct Download </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/blog" role="button">Click here To Download Movies</a>
    </p>
  </div>
</div>


   
  </div>
</div>
{%endblock body%}